<svg
    aria-label="Comment"
    class="h-6 w-6 hover:fill-gray-500 cursor-pointer transition-all duration-200 ease-in-out"
    fill="currentColor"
    height="24"
    role="img"
    viewBox="0 0 24 24"
    width="24"
    ><title>Comment</title><path
        d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
        fill="none"
        stroke="currentColor"
        stroke-linejoin="round"
        stroke-width="2"></path></svg
>
