<div
    class="hover:border-b-2 hover:border-b-gray-50 w-14 flex justify-center py-2 cursor-pointer"
>
    <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        fill="currentColor"
        class="xfx01vb"
        style="--color: rgb(var(--ig-secondary-icon));"
        ><title>Saved</title><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M20 21 12 13.44 4 21 4 3 20 3 20 21z"></path></svg
    >
</div>
