<div
    class="hover:border-b-2 hover:border-b-gray-50 w-14 flex justify-center py-2 cursor-pointer"
>
    <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        fill="currentColor"
        class="xfx01vb"
        style="--color: rgb(var(--ig-primary-icon));"
        ><title>Posts</title><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M3 3H21V21H3z"></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M9.01486 3 9.01486 21"></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M14.98514 3 14.98514 21"></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M21 9.01486 3 9.01486"></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2px"
            d="M21 14.98514 3 14.98514"></path></svg
    >
</div>
