---
import BuscarIcon from "../assets/icons/BuscarIcon.astro";
import HomeIcon from "../assets/icons/HomeIcon.astro";
import MensajeIcon from "../assets/icons/MensajeIcon.astro";
---

<aside class="sticky top-0 h-screen flex flex-col items-center p-4 gap-7 w-52 bg-black border-r border-gray-800">
    <div>
        <h1 class="text-white font-mono text-xl">Instagram</h1>
    </div>
    <div class="flex flex-col items-center justify-center gap-7 w-full">
        <HomeIcon class="w-6 h-6 text-white hover:scale-110 transition-transform"/>
        <BuscarIcon class="w-6 h-6 text-white hover:scale-110 transition-transform"/>
        <MensajeIcon class="w-6 h-6 text-white hover:scale-110 transition-transform"/>
    </div>
</aside>