---
// Historias.astro
---

<article class="flex-shrink-0">
  <a href="" class="block">
    <div class="w-24 h-24 rounded-full border-4 border-pink-600 overflow-hidden p-0.5">
      <img
        src="/Assets/iconPrincipal.png"
        alt="Instagram"
        class="w-full h-full object-cover"
      />
    </div>
  </a>
</article>