---
import ComentariosIcon from "../assets/icons/ComentariosIcon.astro";
import EnviarIcon from "../assets/icons/EnviarIcon.astro";
import GuardarIcon from "../assets/icons/GuardarIcon.astro";
import LikeIcon from "../assets/icons/LikeIcon.astro";
import MasInfoPublicaciones from "../assets/icons/MasInfoPublicaciones.astro";

import { formatRelativeTime } from "../helpers/dateFormatter";

interface Props {
    nombre: string;
    hora: Date;
    imagen: string;
}

const { nombre, hora, imagen } = Astro.props;
const tiempoRelativo = formatRelativeTime(hora);
---

<div class="flex flex-col gap-2 p-6 border-b border-gray-600">
    <div class="flex flex-col gap-2">
        <section class="flex flex-row items-center gap-2 justify-between">
            <div class="flex flex-row items-center gap-2">
                <img
                    src="./../../public/Assets/iconPrincipal.png"
                    alt=""
                    class="w-10 h-10 rounded-full"
                />
                <span>{nombre}</span>
                <span class="text-gray-400 text-sm">• {tiempoRelativo}</span>
            </div>
            <div>
                <MasInfoPublicaciones />
            </div>
        </section>
    </div>
    <div>
        <div>
            <img
                src=`http://localhost:3000${imagen}`
                alt=""
                id="imagen"
                class="w-full h-auto rounded-lg"
            />
        </div>
    </div>
    <div class="flex flex-col items-center justify-start">
        <div class="flex flex-row items-center gap-2 justify-between w-full">
            <div class="flex flex-row items-center gap-2">
                <LikeIcon />
                <ComentariosIcon />
                <EnviarIcon />
            </div>
            <div>
                <GuardarIcon />
            </div>
        </div>
        <div class="flex flex-row items-center gap-2 mt-2 w-full">
            <span>0 Likes</span>
        </div>
        <div>
            <!--Parte de los comentarios -->
        </div>
    </div>
</div>