<div
    class="flex flex-row items-center justify-start gap-2 w-full hover:bg-gray-800 p-2 rounded transition-all duration-500 cursor-pointer"
>
    <span>
        <img src="" alt="">
    </span>
    <span class="text-white">Profile</span>
</div>
