<div
class="flex flex-row items-center justify-start gap-2 w-full hover:bg-gray-800 p-2 rounded transition-all duration-500 cursor-pointer"
>
<a href="" id="perfil" class="flex flex-row gap-2">
        <span>
            <img src="" alt="" id="imagen" class="rounded-full w-6"/>
        </span>
        <span class="text-white">Profile</span>
    </a>
    </div>

<script type="module">
    window.addEventListener("DOMContentLoaded", async () => {
        const imagen = document.getElementById("imagen")
        const jwt = localStorage.getItem("user");
        const result = await fetch("http://localhost:8080/api/perfil", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                jwtDecode: jwt,
                perfil: false,
            }),
        });
        const data = await result.json();
        if(data.error){
            localStorage.removeItem("user")
        }
        if (data && data.nombrePerfil) {
            perfil.href = `${data.nombrePerfil}`;
            imagen.src = "/public/Assets/fotosinperfil.png"

        }
    });
</script>
