---
// Layout.astro
import Header from "../components/Header.astro";
import "../styles/global.css";
interface Props {
    titulo: string;
}
const { titulo }: Props = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Instagram_icon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titulo}</title>
        <script>
            if (localStorage.getItem("user") == null) {
                window.location.href = "/IniciarSesion";
            }
        </script>
    </head>
    <body class="bg-black text-white p-0 m-0 min-h-screen flex justify-between">
        <Header />
        <slot />
    </body>
</html>
