---
import "../styles/global.css";
interface Props {
    titulo: string;
}
const { titulo }: Props = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Instagram_icon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titulo}</title>
    </head>
    <body class="bg-black flex justify-between">
        <main class="flex flex-row items-center justify-center h-screen gap-4">
        <article class="flex flex-col items-center justify-center">
            <img src="/Assets/iconPrincipal.png" alt="">
        </article>
        <article class="flex flex-col items-center justify-center">
            <slot />
        </article>
    </main>
    <script src="./../Script/IniciarSesion.ts"></script>
    </body>
</html>
