---
import Historias from "../components/Historias.astro";
import Publicacion from "../components/Publicacion.astro";
import Layout from "../layout/Layout.astro";
---

<Layout titulo="Instagram">
	<div class="flex flex-col w-full">
		<section
			class="flex flex-row items-center overflow-x-auto gap-4 p-5 w-full no-scrollbar"
		>
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
			<Historias />
		</section>
		<section>
			<Publicacion/>
			<Publicacion/>
			<Publicacion/>
			<Publicacion/>
			<Publicacion/>
		</section>
	</div>
</Layout>
<style>
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
</style>
