---
import Layout from "../layout/Layout.astro";
---

<Layout titulo="Instagram">
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
		<h2 class="text-white font-mono">Welcome to Instagram</h2>
		<p class="text-gray-400">This is a simple layout example.</p>
</Layout>