---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Instagram_icon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Pagina no encontrada</title>
    </head>
    <body class="bg-black flex flex-col items-center justify-center h-screen">
        <img src="/Assets/dog-burning.gif" alt="">
    </body>
</html>
